<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="css/reset.css"            rel="stylesheet">
        <link href="css/three-col.css"        rel="stylesheet">
        <link href="css/index_compressed.css" rel="stylesheet">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
        <link rel="icon"          href="images/favicon.ico" type="image/x-icon" />

        <!--                                      -->
        <!-- PHILADELPHIA REFLECTIONS             -->
        <!-- George R. Fisher III MD              -->
        <!--                                      -->
        <!-- (c) 2004 - {{ copyright_end_year  }}                      -->
        <!--                                      -->

        <title>Philadelphia Reflections: Page Not Found (404 error)</title>

        <style>
            .middle h1 {
                text-align: center;
                font-size: x-large;
                font-weight: bold;
            }
        </style>

    </head>

    <body>
        <header>
            <h1>Philadelphia Reflections</h1>
            <h2>The musings of a physician who has served the community for over six decades</h2>
        </header>

        <div class="container">

            <div class="left">
            </div>

            <div class="middle">
                <h1>We're sorry, but the page you requested was not found</h1>
            </div>

            <div class="right">
            </div>

        </div>

        <footer>
            Copyright © 2004 - {{ copyright_end_year }} George R. Fisher, MD. All rights reserved.

            <table class="contactUs" border="1">
                <tr>
                    <td><ul><li><a href="mailto:grfisheriii@gmail.com?Subject=Message%20from%20Philadelphia%20Reflections%20reader" target="_blank">Contact Us</a></li></ul></td>
                </tr>
            </table>

            {% include 'inc/statcounter.inc' %}
        </footer>

    </body>
</html>