<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Comment confirmation</title>
    </head>
    <body>
        <div style='background:#fff;margin:0 auto;text-align:left;width:700px;padding:10px 10px 10px 10px;border:2px solid black;'>
            <h2 style='background-color:#22007d;color:#ea9f20;margin:0;padding:10px 10px 10px 10px;text-align:center;font-size:large;'>Comment Confirmation</h2>
            <p>
                <span style='font-weight:bold'>{{ name }}</span>,
                thank you for your comment on
                <span style="font-style: italic;font-weight: bold;text-decoration: underline;">{{ title }}</span></p>
            <blockquote  style='border:1px solid black;padding:5px;'>{{ comment }}</blockquote>
        </div>
    </body>
</html>
